*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
 body{
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
 }
  #btn{
    border: none;
    padding: 1rem 2rem;
    background-color: aqua;
    font-size: medium;
    font-weight: 600;
    color:white;
    cursor: pointer;
    transition:transform 1s;
  }
  #btn:hover{
    transform: scale(1.2);
  }